.movie{
    background-color: black;
    margin: 1rem;
    width: 250px;
    border-radius: 3px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
}
.movie img{
    max-width: 100%;
}
.movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie-info{

    color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
}
.movie-info h3{
    margin: 0;
}
.movie-over{
    position: absolute;
    background-color: #fff;
    color: #373b69;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    overflow: auto;
    max-height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 -3px 5px rgba(0,0,0,0.1);
}
.movie:hover .movie-over{
   transform: translateY(0%);
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 70px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    position: sticky;
    
}
.search{
   background-color: transparent;
   border: 1.6px solid #f5c518;
   border-radius: 10px;
   color: white;
   font-family: inherit;
   font-size: 1.2rem;
   padding: 0.4rem 2rem;
   position: absolute;
   top: 13px;
   left: 270px;
}
.search ::placeholder{
    color: "orange";
}
.navbar{
    padding: 8px 50px;
    justify-content: space-between;
    width: 50%;
    display: flex;
}